@charset "UTF-8";

* {
	margin: 0 auto;
	color: #555;
}

body {
	height: 100%;
	width: 100%;
}

main {
	width: 1000px;
	height: 1000px;
	margin: 20px auto;
	text-align: center;
}

h2 {
	text-align: center;
}

table {
	text-align: center;
}
/*  */
th {
	text-align: center;
}

a:visited, a:link, a:hover {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sbtn {
	border: 1px solid #bbb;
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
	margin: 0 5px 0 5px;
	background-color: #fff;
	cursor: pointer;
	transition: 0.5s;
}

.sbtn:hover {
	border: 1px solid #bbb;
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
	margin: 0 5px 0 5px;
	background-color: #aaa;
	cursor: pointer;
	transition: 0.5s;
}

.sbtn:active {
	border: 1px solid #bbb;
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
	margin: 0 5px 0 5px;
	background-color: #777;
	cursor: pointer;
	transition: 0.5s;
}

.footer {
	position: fixed;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;
	bottom: 0px;
	}